<div ngClass="" class="hero-parent p-5 console-text" *ngFor="let item of aspiring_junior_dev">

    <p>aspiring_junior_dev<span> = </span> [ </p>
    <div class="px-3">

        <p>{{'{'}}</p>
        <div class="px-4">
            <p>name: <span>'{{item.name}}'</span>,</p>
            <p>email: <span>'{{item.email}}'</span>,</p>
            <p>phone_number: <span>'{{item.phone_number}}'</span>,</p>
            <p>location: <span>'{{item.location}}'</span>,</p>
            <p>currently_working_on: [<span *ngFor="let working of item.currently_working_on">'{{working}}', </span>],</p>
        </div>
        <p>{{'},'}}</p>
    </div>
    
    <p>];</p>
    <p><span class="pulse-effect">$</span>  </p>

    
</div>
    