footer{
    bottom:0;
    width: 100%;
    background: #2D3142;
    color: white;
    a{
        margin-bottom: 12px;
        color: white;
    }
}


.info-parent{
    display: flex;
    flex-direction: column;
}